name: type check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        python -m pip install mypy drow types-requests
    - name: Run type check
      run: |
        python -m mypy \
          --strict \
          --disallow-any-unimported \
          --disallow-any-expr \
          --disallow-any-decorated \
          --disallow-any-explicit \
          --disallow-any-generics \
          --disallow-subclassing-any \
          --enable-error-code deprecated \
          .
